spring-boot-soap-ssl/src/main/resources/servicio-saludar.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://manu.com/servicio-saludar/ws"
	targetNamespace="http://manu.com/servicio-saludar/ws"
	elementFormDefault="qualified">

	<xs:element name="SaludarRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="nombre" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="SaludarResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="saludo" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>